<a href="https://colab.research.google.com/github/VrushaliSapkal/Data_mining_Assignments/blob/main/DMW_Assignment9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#import all librabries which required
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# loading data set
df=pd.read_csv("/content/Naive-Bayes-Classification-Data.csv")

In [3]:
df.head(10)

   glucose  bloodpressure  diabetes
0       40             85         0
1       40             92         0
2       45             63         1
3       45             80         0
4       40             73         1
5       45             82         0
6       40             85         0
7       30             63         1
8       65             65         1
9       45             82         0

In [4]:
df.dtypes

glucose          int64
bloodpressure    int64
diabetes         int64
dtype: object

In [5]:
df.describe()

          glucose  bloodpressure    diabetes
count  995.000000     995.000000  995.000000
mean    44.306533      79.184925    0.500503
std      6.707567       9.340204    0.500251
min     20.000000      50.000000    0.000000
25%     40.000000      72.000000    0.000000
50%     45.000000      80.000000    1.000000
75%     50.000000      87.000000    1.000000
max     70.000000     100.000000    1.000000

In [6]:
#import train_test_split function
from sklearn.model_selection import train_test_split

In [7]:
#seperate dependent and independent variable 
X=df.drop("diabetes",axis=1)
y=df[["diabetes"]]

In [8]:
#seperate data into training and testing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=1)

In [9]:
#import Gaussian naive bayes model
from sklearn.naive_bayes import GaussianNB
#create Gaussian classifier model
model=GaussianNB()

In [10]:
#train the model using traning sets
model.fit(X_train,y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [11]:
#predict the respones for test datasets
y_pred=model.predict(X_test)

In [12]:
from sklearn import metrics
from sklearn.metrics import accuracy_score

In [13]:
test_data_accuracy = accuracy_score(y_pred, y_test)

In [14]:
print("Test Accuracy is {}".format(test_data_accuracy*100))

Test Accuracy is 95.31772575250837

In [15]:
test_pred=model.predict(X_test)

print(metrics.classification_report(y_test,test_pred))
print(metrics.confusion_matrix(y_test,test_pred))

              precision    recall  f1-score   support

           0       0.93      0.98      0.95       148
           1       0.98      0.93      0.95       151

    accuracy                           0.95       299
   macro avg       0.95      0.95      0.95       299
weighted avg       0.95      0.95      0.95       299

[[145   3]
 [ 11 140]]